* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Center Container */
.container {
  
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  height: 100%;
}

/* Glass Card */
.form-box {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: white;
}

/* Title */
.form-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Inputs */
.form-box input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 15px;
}

.form-box input::placeholder {
  color: #eee;
}

/* Button */
.form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #ff7a18;
  background: linear-gradient(45deg, #ff7a18, #ffb347);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Links */
.link-text {
  margin-top: 15px;
  text-align: center;
}

.link-text a {
  color: #ffd369;
  text-decoration: none;
  font-weight: 500;
}

.link-text a:hover {
  text-decoration: underline;
}
